
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" content="PDF template">
    <title id="pdftemplate">Report Pdf</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        @page {
            size: A4 portrait;
            margin: 1cm;
            /* @frame footer_frame {
                -pdf-frame-content: footer_content;
                left: 1cm;
                width: 512pt;
                top: 815pt;
                height: 20pt;
            } */
        }
        .header-table p {
            font-size: 11px;
            line-height: 1.65;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        .header-table .logo {
            width: 120px;
            padding-right: 10px;
            position: absolute;
            left: 0;
            z-index: 9999;
        }
        .company-phone,
        .company-mail {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 0px;
            text-align: right;
            margin-right: 10px;
        }
        .main-heading {
            font-size: 17px;
            text-transform: uppercase;
            border: 0;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 40px;
        }
        .content-div {
            margin-top: 40px
        }
        .report-div p {
            font-size: 12px;
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        .header-heading {
            font-weight: bold;
            width: 100%;
        }
        .report-table {
            border-collapse: collapse;
            width: 100%;
            font-size: 13px;
            border: 1px solid #ccc;
            margin-top: 10px;
        }
        .report-table td,th {
            border: 1px solid #ccc;
            text-align: left;
            padding: 5px;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <!-- <div id="footer_content"> <pdf:pagenumber>
            of <pdf:pagecount>
    </div> -->
    <!-- ************************** -->
    <div style="background-color: white; margin-bottom:45px;">
        <table class="header-table" style="width:100%;">
           
        </table>
        <p class="main-heading">Data List</p>
        <div class="content-div">
            <div class="separate-div">
                <div class="report-div">
                    <table class="report-table">
                        <thead class="table-light">
                            <tr class="text-uppercase">
                                <th scope="col" style="width: 25px;">
                                    
                                </th>
                                <th class="sort" data-sort="id">
                                    Reference</th>
                                <th class="sort"
                                    data-sort="customer_name">
                                    Employee</th>
                                <th class="sort"
                                    data-sort="product_name">
                                    Payslip Name
                                </th>
                                <th class="sort" data-sort="date">Date
                                    From</th>
                                <th class="sort" data-sort="date">Date
                                    To</th>
                                <!-- <th class="sort" data-sort="amount">Amount</th>
                                            <th class="sort" data-sort="payment">Payment Method</th> -->

                                <th class="sort" data-sort="company">
                                    Company
                                </th>
                                <th class="sort" data-sort="status">
                                    Status</th>
                                <!-- <th class="sort" data-sort="action">Action</th> -->
                            </tr>
                        </thead>
                        {%for value in data_pdf%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>SLIP/{{value.id}}</td>
                            <td>{{value.employee.emp_name}}</td>
                            <td>{{value.payslip_name}}</td>
                            <td>{{value.inputdate1}} </td>
                            <td>{{value.inputdate2}} </td>
                            <td>{{value.company}} </td>
                            <td>{{value.status}} </td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>